# bundle
node_modules
.pnp
.pnp.js

# next
.vercel
.next
out

# output
build
coverage

# config
**/*.config.js
**/*.config.ts

# declaration
**/*.d.ts

# specific File
**/*. js

# public
public/**/*. js
